[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
sklearn = "*"
jieba = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
pyyaml = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
lxml = "*"
uvloop = "*"
wordcloud = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
